body{


    

    font-family: Arial, Impact, sans-serif;
    /*Устанавливает шрифт для текста*/
    background-color: rgba(8, 6, 6, 0.53);
    /*Задает  цвет фона для страницы*/
    padding: 100px;
    /*Убирает внутренние отступы*/
    display: flex;
}
form{
    background: rgb(207, 204, 198);/*Цвет фона формы*/
    padding: 250px;/*внутренние отступы внутри формы*/
    border-radius: 10px;/*закругленные углы формы*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);/*тень для формы*/
}
input{
    width: 100% ;/*ширина полей ввода*/
    padding: 10px;/*Внутренние отступы для полей ввода*/
    margin: auto;/*Отступы сверху и снизу между полями*/
    border: 1px solid #ccc;/*Цвет границы полей*/
    border-radius: 5px;/*закругленные углы полей ввода*/
}
button{
    background: rgb(219, 219, 203)  ;/*Цвет фона кнопки*/
    color: white;/*Цвет текста кнопки*/
    border: none;/*Убирает границу кнопки*/
    padding: 10px;/*Внутренние отступы для кнопки*/
    border-radius: 5px;/*Закругленные углы кнопки*/
    cursor: pointer;/*Изменяет курсор на указатель*/
}
button:hover{
    background: #a7ddd9;/* Цвет фона кнопки при наведении*/

}
 